.services-section {
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("../img/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__list {
    margin-bottom: 80px;
  }
}

.services-list {
  &__item {
    position: relative;
  }
}