<header class="header header--main">
  <div class="container header__container">
    <a class="logo" href="#">
      <img src="img/logo.svg" alt="Createx Logo" />
    </a>
    <nav class="nav" title="">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Services</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Work</a></li>
        <li class="nav__item"><a class="nav__link" href="#">News</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
      </ul>
    </nav>

    <div class="header-contacts">
      <a
        class="header-contacts__link contacts-link contacts-link--call"
        href="tel:+79602831991"
      >
        <span class="ocntacts-link__caption">Call us</span>
        <span class="contacts-link__value">(960) 283-1991</span>
      </a>
      <a
        class="header-contacts__link contacts-link contacts-link--mail"
        href="mailto:pavel.yakovlev.1984@bk.ru"
      >
        <span class="ocntacts-link__caption">Call to us</span>
        <span class="contacts-link__value">pavel.yakovlev.1984@bk.ru</span>
      </a>
    </div>
  </div>
</header>
